<!DOCTYPE html>
<html> 
<link rel="stylesheet" type="text/css" href="css/style.css">  
<script type="text/javascript" src="app.js"></script> 
<head>

<title></title>     
<script type="text/javascript">

	var imgWidth;
	var imgHeight;
	function StartSign()
	 {   
	    var isInstalled = document.documentElement.getAttribute('SigPlusExtLiteExtension-installed');  
	    if (!isInstalled) {
	        alert("SigPlusExtLite extension is either not installed or disabled. Please install or enable extension.");
			return;
	    }	
	    var canvasObj = document.getElementById('cnv');
		canvasObj.getContext('2d').clearRect(0, 0, canvasObj.width, canvasObj.height);
		document.FORM1.sigStringData.value = "SigString: ";
		document.FORM1.sigRawData.value = "Base64 String: ";
		imgWidth = canvasObj.width;
		imgHeight = canvasObj.height;
		var message = { "firstName": "", "lastName": "", "eMail": "", "location": "", "imageFormat": 1, "imageX": imgWidth, "imageY": imgHeight, "imageTransparency": false, "imageScaling": false, "maxUpScalePercent": 0.0, "rawDataFormat": "ENC", "minSigPoints": 25 };
			
		top.document.addEventListener('SignResponse', SignResponse, false);
		var messageData = JSON.stringify(message);
		var element = document.createElement("MyExtensionDataElement");
		element.setAttribute("messageAttribute", messageData);
		document.documentElement.appendChild(element);
		var evt = document.createEvent("Events");
		evt.initEvent("SignStartEvent", true, false);				
		element.dispatchEvent(evt);		
    }
	function SignResponse(event)
	{	
		var str = event.target.getAttribute("msgAttribute");
		var obj = JSON.parse(str);
		SetValues(obj, imgWidth, imgHeight);
	}
	function SetValues(objResponse, imageWidth, imageHeight)
	{
        var obj = null;
		if(typeof(objResponse) === 'string'){
			obj = JSON.parse(objResponse);
		} else{
			obj = JSON.parse(JSON.stringify(objResponse));
		}		
		
	    var ctx = document.getElementById('cnv').getContext('2d');

			if (obj.errorMsg != null && obj.errorMsg!="" && obj.errorMsg!="undefined")
			{
                alert(obj.errorMsg);
            }
            else
			{
                if (obj.isSigned)
				{
                    document.FORM1.sigRawData.value += obj.imageData;
					document.FORM1.sigStringData.value += obj.sigString;
					var img = new Image();
					img.onload = function () 
					{
						ctx.drawImage(img, 0, 0, imageWidth, imageHeight);
					}
					img.src = "data:image/png;base64," + obj.imageData;
                }
            }
    }
    function ClearFormData()
	{
	     document.FORM1.sigStringData.value = "SigString: ";
		 document.FORM1.sigRawData.value = "Base64 String: ";
		 document.getElementsByName('cedula_doc').value = "";
	     document.getElementById('SignBtn').disabled = false;
    }

</script> 
</head>
<body onload="ClearFormData();">
	<div>
		<ul>
			<li><img src="img/logo_LB.png"></li>
			<li><h1>INGRESO FIRMA ELECTRÓNICA</h1></li>
		</ul>	
	</div>
	  
    <table class="center" border="1"  width="500">
        <tr>
            <td height="100" width="500">
                <canvas id="cnv" name="cnv" width="500" height="100"></canvas>
            </td>
        </tr>
    </table>
    <div name="firmar">
    	<input id="SignBtn" name="SignBtn" type="button" value="Firmar"  onclick="StartSign()"/>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <BR>
    <canvas name="SigImg" id="SigImg" width="500" height="100"></canvas>
    <form name="formtext">
    	<label>Cedula doctor:</label>
    	<input type="text" name="cedula_doc">
    </form>
    <form action="/" name=FORM1 method="post">
		<p>	
			<input id="SaveBtn" name="SaveBtn" type="submit" value="Guardar"  onclick="ClearFormData()"/>&nbsp;&nbsp;&nbsp;&nbsp;
			<INPUT TYPE=HIDDEN NAME="bioSigData">
			<INPUT TYPE=HIDDEN NAME="sigImgData">
			<BR>
			<BR>
			<TEXTAREA name="sigStringData" ROWS="20" COLS="50">SigString: </TEXTAREA>
			<TEXTAREA name="sigRawData" ROWS="20" COLS="50">Base64 String: </TEXTAREA>
		</p>
	</form>
	<br /><br />
</body>
</html>

